/* 기본 설정 */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 글꼴 렌더링 개선 */
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
  color-scheme: light dark; /* 다크 모드 고려*/
}

/* 화면 요소 기본값 */
body {
  background-color: var(--background-color, #fff);
  font-family: system-ui, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  color: var(--text-color, #333);
}

/* 미디어 관련 */
img,
picture,
video,
canvas {
  display: block;
  max-width: 100%;
}

/* 리스트 초기화 */
ul,
ol {
  list-style: none;
}

/* 버튼 초기화 */
button {
  cursor: pointer;
  all: unset;
}

/* 링크 초기화 */
a {
  color: inherit;
  text-decoration: none;
}

/* 입력 요소 스타일 */
input,
textarea,
select {
  font: inherit;
}

/* 애니메이션 최소화 (접근성 고려) */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
