:root {
  --font-size-xxs: 1.2rem;
  --font-size-xs: 1.3rem;
  --font-size-sm: 1.4rem;
  --font-size-md: 1.5rem;
  --font-size-lg: 1.6rem;

  --font-size-H1: 2.8rem;
  --font-size-H2: 2.4rem;
  --font-size-H3: 2rem;
  --font-size-H4: 1.8rem;
  --font-size-H5: 1.6rem;

  /* Background Shades - Light Theme */
  --color-bg-00: #ffffff;
  --color-bg-01: #eaeef2;
  --color-bg-02: #d5dbe0;
  --color-bg-03: #c0c8ce;
  --color-bg-04: #abb5bc;
  --color-bg-05: #96a2aa;
  --color-bg-06: #818f98;
  --color-bg-07: #6c7c86;
  --color-bg-08: #576974;
  --color-bg-09: #425662;
  --color-bg-10: #333333;

  --color-txt: #1f2a30;

  --color-primary: #5a7fa3; /* Muted steel blue */
  --color-secondary: #8ca0b3; /* Dusty blue-gray */
  --color-tertiary: #c3d4df; /* Pale muted blue */

  --color-active: #4fa3c7; /* Soft cyan-blue */
  --color-white: #ffffff;
}
.dark {
  &:root {
    /* Background Shades - Dark Theme */
    --color-bg-00: #0a0a0a;
    --color-bg-01: #1a1a1a;
    --color-bg-02: #2a2a2a;
    --color-bg-03: #3a3a3a;
    --color-bg-04: #4a4a4a;
    --color-bg-05: #5a5a5a;
    --color-bg-06: #6a6a6a;
    --color-bg-07: #7a7a7a;
    --color-bg-08: #8a8a8a;
    --color-bg-09: #aaaaaa;
    --color-bg-10: #cccccc;

    --color-txt: #f4f7fa;
  }
}
