:root {
  --font-size-xxs: 1.2rem;
  --font-size-xs: 1.3rem;
  --font-size-sm: 1.4rem;
  --font-size-md: 1.5rem;
  --font-size-lg: 1.6rem;

  --font-size-H1: 2.8rem;
  --font-size-H2: 2.4rem;
  --font-size-H3: 2rem;
  --font-size-H4: 1.8rem;
  --font-size-H5: 1.6rem;

  --color-bg-00: #ffffff;
  --color-bg-01: #f5eee9;
  --color-bg-02: #e8ddd6;
  --color-bg-03: #d9c9c0;
  --color-bg-04: #cbb7ae;
  --color-bg-05: #bfa89f;
  --color-bg-06: #a78d84;
  --color-bg-07: #8f756d;
  --color-bg-08: #775f58;
  --color-bg-09: #5f4a44;
  --color-bg-10: #3e2e2a;
  --color-txt: #222222;

  --color-white: #fff;

  --color-primary: #b85c38;
  --color-secondary: #7f8caa;
  --color-tertiary: #b8cfce;

  --color-active: #5bd670;
}
.dark {
  &:root {
    --color-bg-00: #1e1e1e;
    --color-bg-01: #2a2523;
    --color-bg-02: #3a302d;
    --color-bg-03: #4a3c38;
    --color-bg-04: #5a4843;
    --color-bg-05: #6a554e;
    --color-bg-06: #7a6159;
    --color-bg-07: #8a6e64;
    --color-bg-08: #9a7b6f;
    --color-bg-09: #aa897b;
    --color-bg-10: #b99788;
    --color-txt: #e8e3df;
  }
}
