@keyframes riseup {
  0% {
    transform: translateY(100%);
  }
  100%{
    transform: translateY(0%);
  }
}

@keyframes moonchange {
  0% {
    background-color: #111;
  }
  100%{
    background-color: #61c0ff;
  }
}

@keyframes sunchange {
  0% {
    background-color: #61c0ff;
  }
  100%{
    background-color: #111;
  }
}

@keyframes typing {
  0.0000%, 20.0000% { content: ""; }
  1.0000%, 19.0000% { content: "인"; }
  2.0000%, 18.0000% { content: "인터"; }
  3.0000%, 17.0000% { content: "인터랙"; }
  4.0000%, 16.0000% { content: "인터랙션"; }
  5.0000%, 15.0000% { content: "인터랙션 "; }
  6.0000%, 14.0000% { content: "인터랙션 아"; }
  7.0000%, 13.0000% { content: "인터랙션 아티"; }
  8.0000%, 12.0000% { content: "인터랙션 아티스"; }
  9.0000%, 11.0000% { content: "인터랙션 아티스트"; }

  30.0000%, 50.0000% { content: ""; }
  31.0000%, 49.0000% { content: "접"; }
  32.0000%, 48.0000% { content: "접근"; }
  33.0000%, 47.0000% { content: "접근성"; }
  34.0000%, 46.0000% { content: "접근성 "; }
  35.0000%, 45.0000% { content: "접근성 큐"; }
  36.0000%, 44.0000% { content: "접근성 큐레"; }
  37.0000%, 43.0000% { content: "접근성 큐레이"; }
  38.0000%, 42.0000% { content: "접근성 큐레이"; }
  39.0000%, 41.0000% { content: "접근성 큐레이터"; }

  60.0000%, 80.0000% { content: ""; }
  61.0000%, 79.0000% { content: "U"; }
  62.0000%, 78.0000% { content: "UX"; }
  63.0000%, 77.0000% { content: "UX장"; }
  64.0000%, 76.0000% { content: "UX장이"; }
  65.0000%, 75.0000% { content: "UX장인"; }
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}