@forward './font';
@forward './mixin';
@forward './reset';
@forward './variables';
@forward './animation';

html {
  width: 100%;
  height: 100%;
  font-size: 10px;
}

body {
  width: 100%;
  height: 100%;
  background-color: var(--color-bg-01);
  font-family: 'Pretendard', sans-serif;
  font-size: 1.6rem;
  color: var(--color-txt);
}

#root {
  width: 100%;
  height: 100%;
}

a, button{
  &:focus-visible{
    outline:2px solid var(--color-bg);
  }
}

p {
  line-height: 1.5;
}

.contents {
  width:100%;
  height: 100%;
}

.inner{
  margin:0 auto;
  max-width: 120rem;
}

.p {
  &-sm {
    padding: 1.6rem;
  }
}

h {
  &1 {
    font-size: var(--font-size-H1);
  }

  &2 {
    font-size: var(--font-size-H2);
  }

  &3 {
    font-size: var(--font-size-H3);
  }

  &4 {
    font-size: var(--font-size-H4);
  }

  &5 {
    font-size: var(--font-size-H5);
  }

  &6 {
    font-size: var(--font-size-H6, 1.8rem);
  }
}
.flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-wrap{
  margin:0 auto;
  padding-bottom: 6rem;
  z-index: 1;
  width:calc(100% - 4rem);
  max-width: 100rem;
  .card-area{
    display: flex;
    gap: 1rem;
    padding-top:1rem;
    position: sticky;
    top:5.2rem;
    left:0;
    z-index: 0;
    width:100%;
    height:7rem;
    background-color: var(--color-bg-01);
    border-radius: 0;
    .item{
      flex: 1;
      position: relative;
      height: 6rem;
      background-color: var(--color-secondary);
      border-radius: 1rem;
      button{
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
        width:100%;
        height:5rem;
        font-size: 1.4rem;
        text-align: center;
        .tab-icon{
          width:3.2rem;
        }
        .tab-title{
          display: none;
        }
      }
      &.active{
       background-color: var(--color-bg-00);
       color:var(--color-txt);
       border-radius: 1rem 1rem 0 0;
       &:not(:first-child)::before, &:not(:last-child)::after{
        box-shadow: 0 0 0 0.5rem var(--color-bg-00);
        position: absolute;
        bottom: 0;
        width: 2rem;
        height: 2rem;
        content: '';
        border-radius: 100%;
        transform: scale(-1);
       }
       &:not(:first-child)::before{
        left: -2rem;
        clip-path: inset(-1px 50% 50% -1px);
       }
       &:not(:last-child)::after{
        right: -2rem;
        clip-path: inset(-1px -1px 50% 50%);
       }
      }
      &:not(.active){
        height: 5rem;
      }
    }
    & + .box{
      border-radius: 2rem;
    }
    &:has(.item:first-child.active) + .box{
      border-radius: 0 2rem 2rem 2rem;
    }
    &:has(.item:last-child.active) + .box{
      border-radius: 2rem 0 2rem 2rem;
    }
  }
  .box{
    overflow-y:auto;
    /* height: 50vh; */
    /* box-shadow: 0 0.3rem 1.2rem 0 rgba(0,45,125,0.16); */
    z-index: 1;
    width:100%;
    background-color: var(--color-bg-00);
    border-radius: 0 0 2rem 2rem;
  }
}

@media (min-width: 1280px) {
  .card-wrap .card-area .item{
    button{
      font-size: 1.6rem;
    }
  }    
}