.footer {
  padding: 1rem 3rem;
  width: 100%;
  background-color: var(--color-bg-01);
  color: var(--text-color);
}
.copy {
  font-size: var(--font-size-xxs);
  color: var(--color-bg-05);
  text-align: center;
}
