/* 헤더 */
.header {
  position: fixed;
  background-color: #fff;
  width:100%;
  top: 0;
  left:0;
  height: 6.4rem;
  .inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    max-width: 120rem;
    margin:0 auto;
    padding: 1.6rem;
  }
  .toggle{
    width:3.2rem;
    height:3.2rem;
  }
}

