/* 헤더 */
.header {
  color:var(--color-txt);
  width:100%;
  height:30rem;
  background-color: #2e3752;
  color:#fff;
  display: flex;
  align-items: flex-end;
  .inner{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width:calc(100% - 4rem);
    max-width: 100rem;
    margin:0 auto;
    padding: 3rem 0;
    .title{
      font-size: 3rem;
      line-height: 1.4;
      font-weight: 500;
      width:40%;
      min-height: 4rem;
      background-color: #eee;
      border-radius: 1rem;
    }
    .small{
      font-size: 2.4rem;
      font-weight: 900;
    }
  }
  .toggle{
    width:3.2rem;
    height:3.2rem;
  }
}

