@use '../../styles/mixin' as *;

/* 헤더 */
.visual-section {
  position: relative;
  width: 100%;
  height: 30rem;
  background-color: #2e3752;
  &::before {
    overflow: hidden;
    position: absolute;
    bottom: 1.2rem;
    left: calc(50% - 4rem);
    z-index: 1;
    width: 8rem;
    height: 0.6rem;
    background-color: var(--color-bg-04);
    content: '';
    border-radius: 3rem;
  }
  &::after {
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 3rem;
    background-color: var(--color-bg-01);
    content: '';
    border-radius: 3rem 3rem 0 0;
  }
  &.Clear {
    background: linear-gradient(to bottom, #aee2ff, #fefcea);
  }
  &.Clouds {
    background: linear-gradient(to bottom, #d7d2cc, #304352);
  }
  &.Rain {
    background: linear-gradient(to bottom, #4e54c8, #8f94fb);
  }
  &.Drizzle {
    background: linear-gradient(to bottom, #89f7fe, #66a6ff);
  }
  &.Thunderstorm {
    background: linear-gradient(to bottom, #232526, #414345);
  }
  &.Snow {
    background: linear-gradient(to bottom, #e0eafc, #cfdef3);
  }
  &.Dust,
  &.Sand,
  &.Haze {
    background: linear-gradient(to bottom, #bdc3c7, #2c3e50);
  }
  &.Mist,
  &.Fog,
  &.Ash {
    background: linear-gradient(to bottom, #c2b280, #e0cda9);
  }
  &.Squall {
    background: linear-gradient(to bottom, #3a6073, #16222a);
  }
  &.Tornado {
    background: linear-gradient(to bottom, #0f2027, #203a43, #2c5364);
  }
}

.navigation-bar {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 0 2rem;
  position: sticky;
  top: 0;
  z-index: 2;
  width: 100%;
  max-width: 100rem;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.15);
  height: 7rem;
  background-color: var(--color-bg-09);
  color: #fff;
  border-radius: 0 0 2rem 2rem;
  .navigation-content {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    height: 100%;
    .brand-title {
      display: inline-flex;
      gap: 1rem;
      align-items: center;
      position: relative;
      font-size: var(--font-size-H2);
      color: var(--color-bg-01);
      letter-spacing: -1px;
      .profile-image {
        display: flex;
        position: relative;
        /*  transform: translateX(-3.4rem); */
        .avatar {
          width: 4rem;
          height: 4rem;
          background-image: url('../../assets/images/avatar.png');
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          border-radius: 50%;
        }
      }
      .online-status {
        position: absolute;
        right: -1.6rem;
        bottom: 0;
        width: 1rem;
        height: 1rem;
        background-color: var(--color-active);
        border-radius: 50%;
        &::after {
          position: absolute;
          width: 100%;
          height: 100%;
          animation: sparkle 1.5s infinite ease-in-out;
          content: '';
        }
      }
      .logo {
        border: 3px solid #fff;
        width: 3.4rem;
        border-radius: 0.6rem;
      }
      span {
        font-size: 1.8rem;
        font-weight: 700;
        @include tablet {
          font-size: 2.4rem;
        }
      }
      &.visible {
        .profile-image {
          transform: translateX(0);
        }
      }
    }
    .small {
      font-size: 2.4rem;
      font-weight: 900;
    }
  }
  .toggle {
    width: 3.2rem;
    height: 3.2rem;
  }
}

@keyframes sparkle {
  0%,
  100% {
    box-shadow: 0 0 10px var(--color-active);
    opacity: 1;
  }
  50% {
    box-shadow: 0 0 2px var(--color-active);
    opacity: 0.3;
  }
}
