@use '/src/styles/animation.scss';

.sm {
  padding: 0.5rem 0.8rem;
}

.md {
  padding: 0.7rem 1.1rem;
}

.lg {
  padding: 0.9rem 1.4rem;
}

.full {
  width: 100%;
}

.sun, .moon{
  overflow: hidden;
  position: relative;
  width:3rem;
  height:3rem;
  border-radius: 50%;
  &::after{
    display: block;
    position: absolute;
    bottom:0;
    left:0;
    width:100%;
    height:100%;
    animation: riseup forwards ease-in-out 0.7s;
    content: '';
  }
}
.sun{
  background-color: #61c0ff;
  animation: moonchange forwards ease-in-out 0.7s;
  &::after{
    background: url(../../assets/icons/icon_s128_sun.svg) no-repeat center;
    background-size: 2rem auto;
  }
}
.moon{
  background-color: #111;
  animation: sunchange forwards ease-in-out 0.7s;
  &::after{
    background: url(../../assets/icons/icon_s128_moon.svg) no-repeat center;
    background-size: 2rem auto;
  }
}
.share{
  position: relative;
  width:3rem;
  height:3rem;
  background-color: var(--color-bg-04);
  cursor:pointer;
  border-radius: 50%;
  &::after{
    content: '';
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height: 100%;
    mask-image: url(../../assets/icons/icon_s64_share.svg);
    mask-repeat: no-repeat;
    mask-position: left 4px top 5px;
    mask-size: 2rem auto;
    background-color: var(--color-bg-09);
  }
}

.top{
  box-shadow: 0 .3rem 1.2rem 0 rgba(0, 45, 125, .161);
  overflow: hidden;
  position: fixed;
  bottom:4.6rem;
  left:2rem;
  width:4rem;
  height:4rem;
  background-color: #fff;
  background-image: url(../../assets/icons/icon_s64_top.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 2.4rem auto;
  cursor:pointer;
  border-radius: 50%;
}