.sm {
  padding: 0.5rem 0.8rem;
}

.md {
  padding: 0.7rem 1.1rem;
}

.lg {
  padding: 0.9rem 1.4rem;
}

.full {
  width: 100%;
}

.sun, .moon{
  position: fixed;
  left:2rem;
  bottom:2rem;
  width:4rem;
  height:4rem;
  border-radius: 50%;
}
.sun{
  background-color: skyblue;
}
.moon{
  background-color: #111;
}