@use '/src/styles/animation.scss';

.sm {
  padding: 0.5rem 0.8rem;
}

.md {
  padding: 0.7rem 1.1rem;
}

.lg {
  padding: 0.9rem 1.4rem;
}

.full {
  width: 100%;
}

.sun, .moon{
  overflow: hidden;
  position: fixed;
  bottom:4rem;
  left:2rem;
  width:4rem;
  height:4rem;
  border-radius: 50%;
  &::after{
    display: block;
    position: absolute;
    bottom:0;
    left:0;
    width:100%;
    height:100%;
    animation: riseup forwards ease-in-out 0.7s;
    content: '';
  }
}
.sun{
  background-color: #61c0ff;
  animation: moonchange forwards ease-in-out 0.7s;
  &::after{
    background: url(../../assets/icons/sun-behind-cloud.svg) no-repeat center;
    background-size: 3rem auto;
  }
}
.moon{
  background-color: #111;
  animation: sunchange forwards ease-in-out 0.7s;
  &::after{
    background: url(../../assets/icons/full-moon.svg) no-repeat center;
    background-size: 3rem auto;
  }
}

.top{
  box-shadow: 0 .3rem 1.2rem 0 rgba(0, 45, 125, .161);
  overflow: hidden;
  position: fixed;
  bottom:9rem;
  left:2rem;
  width:4rem;
  height:4rem;
  background-color: #fff;
  cursor:pointer;
  border-radius: 50%;
}