.dialog {
  &-backdrop {
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0);
    inset: 0;
    transition: all 0.3s ease;
    &.open {
      visibility: visible;
      background-color: rgba(0, 0, 0, 0.7);
      .dialog-content {
        transform: translateY(0);
        opacity: 1;
      }
    }
  }
  &-content {
    display: flex;
    gap: 1.2rem;
    flex-direction: column;
    padding: 2rem;
    width: calc(100% - 4rem);
    max-width: 400px;
    background: var(--color-bg-01);
    border-radius: 1.6rem;
    transform: translateY(30px);
    opacity: 0;
    transition: all 0.3s ease;
  }
  &-title {
    font-size: 2rem;
  }
  &-desc {
  }
  &-btn-area {
    display: flex;
    gap: 1rem;
    > button {
      flex: 1;
      padding: 1.5rem 0;
      color: var(--color-bg-00);
      text-align: center;
      border-radius: 0.6rem;
      &:only-child {
        background-color: var(--color-primary);
      }
    }
    .cancel-btn {
      background-color: var(--color-bg-03);
    }
    .confirm-btn {
      background-color: var(--color-primary);
    }
  }
}
